*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

@keyframes rise {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes comin {
    from{
        position: absolute;
        left: -200%;
    }
    to{
        position: absolute;
        left: 0;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.row{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
}

.shapes{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.shape-wrapper{
    position: absolute;
    right: 10px;
    width: 200px;
    height: 200px;
    animation: rotating 3s linear infinite;
}

.circle-1{
    position: absolute;
    left: -20px;
    top: -40px;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 20px solid #fa4a2a;
    border-radius: 50%;
}

.circle-2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #d63f24;
    border-radius: 50%;
}

.circle-3{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 300px;
    height: 300px;
    background: transparent;
    border: 30px solid #1270e3;
    border-radius: 50%;
}

.circle-4{
    position: absolute;
    right: 150px;
    top: 30%;
    width: 300px;
    height: 300px;
    background: #1270e3;
    border-radius: 50%;
}

.square{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-container{
    overflow: hidden;
    min-height: 400px;
}

.cover{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    animation: rise .2s;
}

.alert{
    animation: rise .4s;
}

form{
    animation: comin .2s;
}

form p, form a{
    color: #666;
}

form .form-group{
    position: relative;
}

form .form-group .form-control{
    height: 45px;
    color: #666;
    background: #f1f1f1;
}

form .form-group .form-control:focus{
    box-shadow: 0 0 0 !important;
    border: 1px solid transparent;
}

form .form-group label{
    color: #777;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: .3s;
    cursor: inherit;
}

form .form-group .form-control:focus + label{
    font-size: 14px;
    left: 1px;
    top: -30px;
    cursor: default;
}

form .btn{
    width: 200px;
    height: 55px;
    font-size: 20px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    background: #fa4a2a;
    color: rgb(240, 240, 240);
    border: 0;
    outline: 0;
    transition: .4s;
}

form .btn:hover, form .btn:focus{
    color: rgb(240, 240, 240);
    background: #d63f24;
}

form .btn:focus{
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px #fa4a2a;
}