<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/index.css">
    <link rel="stylesheet" href="../static/css/check-email.css">
</head>
<body>

<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-10 offset-1 col-md-8 offset-md-2 bg-white p-5 rounded mail-sent">
            <p class="h2 text-center text-secondary">Email was sent</p>
            <img src="../static/img/mail-send-svgrepo-com.svg" alt="">
            <p class="h4 text-center text-secondary">Please check your email to verify your account.</p>
        </div>
    </div>
</div>

</body>
</html>
