<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/index.css">
    <link rel="stylesheet" href="../static/css/create-school.css">
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="btn btn-danger d-lg-none">Login</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-lg-auto">
                <li class="nav-item p-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown px-5 py-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Docs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Student</a></li>
                        <li><a class="dropdown-item" href="#">Teacher</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Developers</a></li>
                    </ul>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Join your school</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Make your online school</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-danger d-none d-lg-block">Login</button>
    </div>
</nav>

<!--Join-->
<div class="container-fluid mt-5 pt-5 mb-5">
    <div class="row mt-5">
        <div class="col-10 offset-1 col-md-8 offset-md-2 bg-white rounded create p-5">
            <p class="h2 text-center text-secondary">Make you own school</p>
            <img class="mt-4" src="../static/img/play-svgrepo-com.svg" alt="">
            <p class="h5 text-center text-secondary mt-5">Create your new education place!</p>
            <form action="" autocomplete="off">
                <div class="alert alert-danger text-center d-none mt-5">
                    <!--Error goes here-->
                </div>
                <div class="d-flex">
                    <div class="form-group mt-5 w-50 p-1">
                        <input class="form-control" type="text" name="email">
                        <label>School Name</label>
                    </div>
                    <div class="form-group mt-5 w-50 p-1">
                        <input class="form-control" type="text" name="email">
                        <label>School Address</label>
                    </div>
                </div>
                <div class="d-flex mt-5">
                    <div class="form-group w-50 p-1">
                        <input class="form-control" type="text" name="email">
                        <label>Support Contact Number</label>
                    </div>
                    <div class="form-group w-50 p-1">
                        <input class="form-control" type="text" name="email">
                        <label>Support Email</label>
                    </div>
                </div>
                <div class="form-group mt-5 p-1">
                    <input class="form-control" type="text" name="email">
                    <label>Name of any high rank officer</label>
                </div>
                <button class="btn d-flex align-items-center mt-4 mx-auto px-5" type="submit">Create <span style="font-size: 30px">&#8594;</span></button>
            </form>
        </div>
    </div>
</div>

<script src="../static/libraries/jquery/index.js"></script>
<script src="../static/libraries/bootstrap/js/index.js"></script>
<script src="../static/js/create-school.js" type="module"></script>
</body>
</html>
