<!DOCTYPE html>
<html lang="en">
<head>
    <title>Our name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/index.css">
    <link rel="stylesheet" href="../static/libraries/animate/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
<!--        <button class="btn btn-danger d-lg-none">Login</button>-->
        <div class="user-area d-flex align-items-center flex-row-reverse d-lg-none">
            <img src="../static/img/student-svgrepo-com.svg" alt="">
            <div class="nav-item dropdown px-5 py-3">
                <a class="nav-link dropdown-toggle" href="#" id="userSmDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/notification-svgrepo-com.svg" alt="">
                </a>
                <ul class="dropdown-menu" aria-labelledby="userSmDropdown">
                    <li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                        <img src="../static/img/student-svgrepo-com.svg" alt="">
                        <div class="ml-3">
                            <p class="h6">Title</p>
                            <p>this is a notification</p>
                        </div>
                    </a></li>
                    <li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                        <img src="../static/img/student-svgrepo-com.svg" alt="">
                        <div class="ml-3">
                            <p class="h6">Title</p>
                            <p>this is a notification</p>
                        </div>
                    </a></li><li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                    <img src="../static/img/student-svgrepo-com.svg" alt="">
                    <div class="ml-3">
                        <p class="h6">Title</p>
                        <p>this is a notification</p>
                    </div>
                </a></li>
                </ul>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-lg-auto">
                <li class="nav-item p-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown px-5 py-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Docs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Student</a></li>
                        <li><a class="dropdown-item" href="#">Teacher</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Developers</a></li>
                    </ul>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Join your school</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Make your online school</a>
                </li>
            </ul>
        </div>
<!--        <button class="btn btn-danger d-none d-lg-block">Login</button>-->
        <div class="user-area align-items-center flex-row-reverse d-none d-lg-flex">
            <img src="../static/img/student-svgrepo-com.svg" alt="">
            <div class="nav-item dropdown px-5 py-3">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../static/img/notification-svgrepo-com.svg" alt="">
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                        <img src="../static/img/student-svgrepo-com.svg" alt="">
                        <div class="ml-3">
                            <p class="h6">Title</p>
                            <p>this is a notification</p>
                        </div>
                    </a></li>
                    <li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                        <img src="../static/img/student-svgrepo-com.svg" alt="">
                        <div class="ml-3">
                            <p class="h6">Title</p>
                            <p>this is a notification</p>
                        </div>
                    </a></li><li class="p-2"><a class="dropdown-item d-flex align-items-center" href="#">
                    <img src="../static/img/student-svgrepo-com.svg" alt="">
                    <div class="ml-3">
                        <p class="h6">Title</p>
                        <p>this is a notification</p>
                    </div>
                </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!--Hero-->
<div class="container-fluid">
    <div class="row mt-5 pt-5 hero">
        <div class="col-12 col-md-6">
            <img src="../static/img/Teacher-cuate.svg" alt="">
        </div>
        <div class="col-12 col-md-6 text-center text-md-start">
            <p class="display-3 fw-bolder mt-5">Make your class</p>
            <p class="h1 text-secondary ">More interest, Less arduous</p>
            <div class="mt-lg-5 pt-5">
                <button class="btn btn-add-school mt-5">Verify a school</button>
                <button class="btn btn-join-school mt-5">Join a school</button>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid mx-auto mt-5 mb-5 col-12 text-center pt-5'>
    <div class="service row wow animate__animated animate__backInUp mt-5">
        <img class="shape mt-5 mt-lg-0 pt-5" src="../static/img/light-square-shape.svg">
        <img class="shape" style="left: 15%;top: 20%" width="50" height="50" src="../static/img/yellow-square.svg" alt="">
        <img class="shape" style="right: 15%;left: unset;top: 20%" width="150" height="75" src="../static/img/light-oval.svg" alt="">
        <img class="shape" style="right: calc(15% - 85px);left: unset;top: 20%;margin-top: 12px" width="50" height="50" src="../static/img/light-circle.svg" alt="">
        <img class="shape" style="left: unset;right: 10%;top: 35%" width="50" height="50" src="../static/img/orange-square.svg" alt="">
        <img class="shape" style="left: 50%;top: 60%" width="100px" height="100px" src="../static/img/blue-circle.svg" alt="">
        <div class="h1">Why People Believe in Us</div>
        <p class="text-muted">Always render more and better service than <br />is expected of you, no matter what is your need.</p>
        <div class="row justify-content-around text-justify">
            <div class="card col-10 col-lg-3 my-5 my-lg-5 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="../static/img/management-svgrepo-com.svg" />
                        <div class="shadow"></div>
                        <div class="card-title mt-2"> Management </div>
                        <div class="card-subtitle mt-4">
                            <p>We help Schools to manage their school and students online, with features to manage Business.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-10 col-lg-3 my-5 my-lg-5 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="../static/img/book-study-svgrepo-com.svg" />
                        <div class="card-title mt-2"> Study </div>
                        <div class="card-subtitle mt-4">
                            <p> We help students to do their classes in a better and standard way, And know<br> which is their homework, recommend tasks and additional articles to improve knowledge.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-10 col-lg-3 my-5 my-lg-5 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                        <div class="card-title"> We Guide you </div>
                        <div class="card-subtitle">
                            <p>Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft">
            <p class="chk"><small class="text-muted">Still not sure? <a class="text-secondary" href="#">Read more</a></small></p>
        </div>
    </div>
</div>

<!--Explain-->
<div class="container-fluid mt-5 pt-5">
    <div class="row wow animate__animated animate__backInRight">
        <div class="col-12 col-md-6">
            <img src="../static/img/Documents-pana.svg" alt="">
        </div>
        <div class="col-12 col-md-6 pt-5 position-relative">
            <img style="left: unset;right: -100px;width: 100%;top: -100px;z-index: -1" class="shape mt-5 mt-lg-0 pt-5" src="../static/img/light-square-shape.svg">
            <p class="h1 mt-5 text-center text-md-start">Managing is easy with us.</p>
            <p class="text-muted">Manage your school with our Dashboard, built with by <img width="24" height="24" src="../static/img/heart-svgrepo-com.svg"> with powerful tools, Just to help you grow.</p>
        </div>
    </div>
</div>

<!--Contact-->
<div class="row contact-us">
    <div class="col-md-7">
        <div class="contact-wrap w-100 p-md-5 p-4">
            <p class="h3 mb-4">Contact Us</p>
            <div id="form-message-warning" class="mb-4"></div>
            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                <div class="row">
                    <div class="alert alert-danger d-none text-center">
                        <!--Error goes here-->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label" for="name">Full Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label" for="email">Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="label" for="subject">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <label class="label" for="#">Message</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
        <img class="info-wrap w-100 p-5 img" src="../static/img/New message-pana.svg">
    </div>
</div>

<!--Footer-->
<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="../static/libraries/jquery/index.js"></script>
<script src="../static/libraries/bootstrap/js/index.js"></script>
<script src="../static/libraries/wow/index.js"></script>
<script>
    new WOW().init();
</script>
<script src="../static/js/main.js"></script>
</body>
</html>
