<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/index.css">
    <link rel="stylesheet" href="../static/css/mail.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar d-flex justify-content-center">
                <a href="http://Ourname.com" class="h2 text-white bg-danger nav-link rounded shadow px-5 py-4">Navbar</a>
            </nav>
        </div>
        <div class="col-12 col-md-10 offset-md-1 bg-white p-5">
            <p class="h1 text-secondary text-center fw-bold">Verify Account</p>
            <img class="verify-img mt-4" src="../static/img/mail-svgrepo-com.svg" alt="Verify">

            <p class="h5 fw-bolder text-secondary text-center mt-5">Hello {name},</p>
            <p class="text-muted h6 mt-4 text-center">Thank you for signing up, Please use the link below to verify your account.</p>
            <a href="#" class="btn btn-verify d-flex align-items-center justify-content-center mt-5">Verify Account</a>
            <p class="mt-5 text-center">Thanks for choosing us as your Helper</p>
        </div>
        <div class="col-12 p-5">
            <p class="text-center"><a class="text-secondary" href="This">View as Web Page</a></p>
            <p class="mt-2 text-secondary text-center">&#169;2021 Navbar, All rights reserved.</p>
            <div class="medias d-flex justify-content-center mt-4">
                <a href="#"><img src="../static/img/linkedin-svgrepo-com.svg" alt="LinkedIn"></a>
                <a href="#"><img src="../static/img/google-plus-svgrepo-com.svg" alt="GooglePlus"></a>
                <a href="#"><img src="../static/img/twitter-svgrepo-com.svg" alt="Twitter"></a>
            </div>
            <p class="text-center text-muted">You received this email because you signed in Navbar.</p>
            <p class="text-muted text-center mt-5" style="font-size: 13px">Don't you signed up? <a href="#" class="text-muted">Go here</a></p>
        </div>
    </div>
</div>

</body>
</html>
