<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/libraries/bootstrap/css/index.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="btn btn-danger d-lg-none">Login</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-lg-auto">
                <li class="nav-item p-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown px-5 py-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Docs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Student</a></li>
                        <li><a class="dropdown-item" href="#">Teacher</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Developers</a></li>
                    </ul>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Join your school</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Make your online school</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-danger d-none d-lg-block">Login</button>
    </div>
</nav>

<div class="container-fluid mt-5 pt-5">
    <div class="row d-flex justify-content-around mt-5">
        <div class="col-10 col-lg-5 bg-white shadow rounded p-4">
            <p class="display-3">Classes</p>
            <hr>
            <table class="table mt-5 bg-light rounded shadow-sm">
                <tbody>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Teacher</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-10 col-lg-5 bg-white shadow rounded p-4 mt-5 mt-lg-0">
            <p class="display-3">Information</p>
            <hr>
            <form action="" autocomplete="off" class="info">
                <div class="alert alert-danger text-center d-none mt-5">
                    <!--Error goes here-->
                </div>
                <dic class="d-flex justify-content-center">
                    <div class="form-group school-profile">
                        <img src="../static/img/play-svgrepo-com.svg" alt="School profile">
                    </div>
                </dic>
                <div class="d-flex">
                    <div class="form-group mt-5 w-50 p-1">
                        <input disabled class="form-control" type="text" name="email">
                        <label>School Name</label>
                    </div>
                    <div class="form-group mt-5 w-50 p-1">
                        <input disabled class="form-control" type="text" name="email">
                        <label>School Address</label>
                    </div>
                </div>
                <div class="d-flex mt-5">
                    <div class="form-group w-50 p-1">
                        <input disabled class="form-control" type="text" name="email">
                        <label>Support Contact Number</label>
                    </div>
                    <div class="form-group w-50 p-1">
                        <input disabled class="form-control" type="text" name="email">
                        <label>Support Email</label>
                    </div>
                </div>
                <div class="form-group mt-5 p-1">
                    <input disabled class="form-control" type="text" name="email">
                    <label>Name of any high rank officer</label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-10 col-lg-5 bg-white shadow rounded p-5">
            <p class="display-3">Students</p>
            <hr>
            <table class="table mt-5 bg-light rounded shadow-sm">
                <tbody>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Average</th>
                    <th scope="col">Current Class</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-10 col-lg-5 bg-white shadow p-5 rounded">
            <p class="display-3">Homeworks</p>
            <hr>
            <p class="h4 mt-4">Todays log :</p>
            <table class="table mt-3 bg-light rounded shadow-sm">
                <tbody>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Task</th>
                    <th scope="col">Teacher</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
            <p class="h4 mt-4">Absent :</p>
            <table class="table mt-3 bg-light rounded shadow-sm">
                <tbody>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Teacher</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10 bg-white shadow p-5 rounded">
            <p class="display-3">Homeworks</p>
            <hr>
            <table class="table mt-3 bg-light rounded shadow-sm">
                <tbody>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Teacher</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="../static/libraries/jquery/index.js"></script>
<script src="../static/libraries/bootstrap/js/index.js"></script>
<script src="../static/js/dashboard.js" type="module"></script>
</body>
</html>
